*{
    margin: 0;
}
.text{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.our-work{
    width: 100%;
    background-color: rgb(222, 43, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-work_name{
    margin-top: 109px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-work_h{
    font-size: 24px;
    font-weight: 900;
}
.our-work_description{
    font-size: 20px;
}
.our-work_line{
    background-color: white;
    width: 47px;
    height: 5px;
    margin-top: 17px;
}
.our-work_gallery{
    display: flex;
    flex-wrap: wrap;
    width: 73%;
    margin-top: 47px;
    margin-bottom: 128px;
}
.our-work_block{
    height: 253px;
    flex-basis: 25%;
    background-color: rgb(243, 94, 89);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block2{
    background-image: url("img/photo1.jpg");
}
.block4{
    background-image: url("img/photo5.jpg");
}
.block5{
    background-image: url("img/photo6.jpg");
}
.block7{
    background-image: url("img/photo7.jpg");
}
.block_name{
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 900;
    margin-top: 25px;
}
.block_description{
    font-size: 14px;
}
.block_img{
    margin-top: 75px;
}


.facebook-analysis{
    padding-top: 100px;
    width: 100%;
    background-color: rgb(18, 135, 191);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.facebook-analysis_name{
    line-height: 30px;
}
.facebook-analysis_h{
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1px;
}
.facebook-analysis_description{
    font-size: 20px;
}
.arrow{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: solid 3px white;
    background: url("img/icons/arrow.png") no-repeat;
    background-position: 16px 21px;
    margin-top: 18px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
    width: 48%;
    position: relative;
}
.decoration{
    width: 63px;
    height: 31px;
    background-color: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.close{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgb(221, 43, 35);
    border: solid 3px white;
    position: absolute;
    top: 5px;
    left: 95%;
}
.facebook-analysis_form{
    border-radius: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 111px;
}
.form_description{
    width: 81%;
    margin: 51px auto 40px auto;
    word-wrap: break-word;
    text-align: center;
    font-size: 15px;
    color: rgb(130, 130, 130);
    display: inline-block;
}
.item{
    width: 65%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 9px;
    padding-left: 20px;
    font-size: 14px;
    border: solid 1px rgb(216, 216, 216);
}
.form_submit{
    width: 24%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background: rgb(221, 43, 35);
    color: white;
    font-weight: 800;
    margin-top: 26px;
    margin-bottom: 68px;
}







@media screen and (max-width: 950px){
    .our-work_block{
        flex-basis: 50%;
    }
    .block1{
        order: 1;
    }
    .block2{
        order: 2;
    }
    .block3{
        order: 4;
    }
    .block4{
        order: 3;
    }
    .block5{
        order: 6;
    }
    .block6{
        order: 5;
    }
    .block7{
        order: 7;
    }
    .block8{
        order: 8;
    }
}

@media screen and (max-width: 700px){
    .our-work_gallery{
        flex-direction: column;
    }
    .our-work_block{
        flex-basis: 100%;
    }
    .block1{
        order: 1;
    }
    .block2{
        order: 2;
    }
    .block3{
        order: 3;
    }
    .block4{
        order: 4;
    }
    .block5{
        order: 6;
    }
    .block6{
        order: 5;
    }
    .block7{
        order: 8;
    }
    .block8{
        order: 7;
    }
}