*{
    margin: 0;
}
.text{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.our-work{
    width: 100%;
    background-color: rgb(222, 43, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-work_name{
    margin-top: 109px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-work_h{
    font-size: 24px;
    font-weight: 900;
}
.our-work_description{
    font-size: 20px;
}
.our-work_line{
    background-color: white;
    width: 47px;
    height: 5px;
    margin-top: 17px;
}
.our-work_gallery{
    display: flex;
    flex-wrap: wrap;
    width: 73%;
    margin-top: 47px;
    margin-bottom: 128px;
}
.our-work_block{
    height: 253px;
    flex-basis: 25%;
    background-color: rgb(243, 94, 89);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block2{
    background: url("img/photo1.jpg") no-repeat;
    background-size: cover;
}
.block4{
    background: url("img/photo5.jpg") no-repeat;
    background-size: cover;
}
.block5{
    background: url("img/photo6.jpg") no-repeat;
    background-size: cover;
}
.block7{
    background: url("img/photo7.jpg") no-repeat;
    background-size: cover;
}
.block_name{
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 900;
    margin-top: 25px;
}
.block_description{
    font-size: 14px;
}
.block_img{
    margin-top: 75px;
}



.facebook-analysis{
    padding-top: 100px;
    padding-bottom: 111px;
    width: 100%;
    background-color: rgb(18, 135, 191);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.facebook-analysis_name{
    line-height: 30px;
}
.facebook-analysis_h{
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1px;
}
.facebook-analysis_description{
    font-size: 20px;
}
.arrow{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: solid 3px white;
    background: url("img/icons/arrow.png") center no-repeat;
    margin-top: 18px;
    cursor: pointer;
}
.wrapper{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 48%;
    position: relative;
    margin-top: 22px;
}
.decoration{
    width: 63px;
    height: 31px;
    background-color: white;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.close{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgb(221, 43, 35);
    border: solid 3px white;
    position: absolute;
    top: 5px;
    left: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close-symbol{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}
.facebook-analysis_form{
    border-radius: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_description{
    width: 81%;
    margin: 51px auto 40px auto;
    word-wrap: break-word;
    text-align: center;
    font-size: 15px;
    color: rgb(130, 130, 130);
    display: inline-block;
}
.item{
    width: 65%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 9px;
    padding-left: 20px;
    font-size: 14px;
    border: solid 1px rgb(216, 216, 216);
}
.item:focus{
    border-radius: 5px;
    border: solid 1px rgb(17, 135, 191);
    outline: none;
    box-shadow: 0px 0px 3px 0px rgba(17,135, 191,0.59);
}
.form_submit{
    width: 24%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background: rgb(221, 43, 35);
    color: white;
    font-weight: 800;
    margin-top: 26px;
    margin-bottom: 68px;
}



.get-in-touch{
    background: rgb(42, 42, 42);
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.get-in-touch_h{
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.social-networks{
    width: 18%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.social{
    width: 45px;
    height: 45px;
    border: solid 2px rgb(81, 81, 81);
    border-radius: 5%;
}
.social:hover{
    border: solid 2px rgb(221, 43, 35);
    border-radius: 5%;
}
.facebook-logo{
    background: url("img/icons/icon8.png") center no-repeat;
}
.twitter-logo{
    background: url("img/icons/icon9.png") center no-repeat;
}
.google-logo{
    background: url("img/icons/icon10.png") center no-repeat;
}
.linkedIn-logo{
    background: url("img/icons/icon11.png") center no-repeat;
}
.get-in-touch_description{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgb(173, 173, 173);
    font-weight: 200;
}
.get-in-touch_form{
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 83px;
}
.get-in-touch_email{
    width: 100%;
    height: 54px;
    background: rgb(81, 81, 81);
    border: none;
    font-size: 16px;
    color: rgb(143, 143, 143);
    padding-left: 21px;
    margin-bottom: 26px;
}
.get-in-touch_submit{
    width: 22%;
    background: rgb(42, 42, 42);
    border: solid 2px rgb(81, 81, 81);
    border-radius: 5%;
    height: 50px;
    color: white;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


.footer{
    background: rgb(81, 81, 81);
}
.copyright{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(206, 206, 206);
    padding: 26px 0 26px 0;
}


@media screen and (max-width: 950px){
    .our-work_block{
        flex-basis: 50%;
    }
    .block1{
        order: 1;
    }
    .block2{
        order: 2;
    }
    .block3{
        order: 4;
    }
    .block4{
        order: 3;
    }
    .block5{
        order: 6;
    }
    .block6{
        order: 5;
    }
    .block7{
        order: 7;
    }
    .block8{
        order: 8;
    }
}

@media screen and (max-width: 950px) {
    .social-networks{
        width: 30%;
    }
    .get-in-touch_submit{
        width: 60%;
    }
    .form_submit{
        width: 60%;
    }
}
@media screen and (max-width: 830px){
    .form_submit{
        width: 65%;
    }
    .wrapper{
        width: 80%;
    }
}
@media screen and (max-width: 870px){
    .get-in-touch_submit{
        width: 80%;
    }
    .social-networks{
        width: 40%;
    }
}
@media screen and (max-width: 700px){
    .our-work_gallery{
        flex-direction: column;
    }
    .our-work_block{
        flex: 0 1 auto;
    }
    .block1{
        order: 1;
    }
    .block2{
        order: 2;
    }
    .block3{
        order: 3;
    }
    .block4{
        order: 4;
    }
    .block5{
        order: 6;
    }
    .block6{
        order: 5;
    }
    .block7{
        order: 8;
    }
    .block8{
        order: 7;
    }
    .close{
        width: 30px;
        height: 30px;
        top: 10px;
    }
}
@media screen and (max-width: 440px){
   .social-networks{
       width: 70%;
   }
    .copyright{
        font-size: small;
    }
}